<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />
        <title>{$TITLE$}</title>
        <!-- ////////////////////////////////// -->
        <!-- //      Start Stylesheets       // -->
        <!-- ////////////////////////////////// -->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/nivo-slider.css" rel="stylesheet"  type="text/css" media="screen" />
        <link href="css/inner.css" rel="stylesheet" type="text/css" />
        <!-- ////////////////////////////////// -->
        <!-- //      Javascript Files        // -->
        <!-- ////////////////////////////////// -->
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="js/dropdown.js"></script>
        <script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
        {$SCRIPTS$}
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                <div id="top">
                    <div id="logo">
                        <div id="logo-img">
                            <a  href=""><img src="images/logo.png" alt=""  /></a>
                        </div>
                    </div><!-- #logo -->
                    <div id="topnavigation">
                        <ul id="topnav">
                            <li class="current" id="home"><a  href=""><img src="images/home.png" alt="" /></a></li>
                            <li><a href="http://forum.century-rp.ru">{(index.forum)}</a></li>
                            <li><a href="#">{(site.administration.title)}</a></li>
                            <li><a href="#">{(site.menu.rules)}</a></li>
                            <li><a href="#">{(site.menu.about)}</a></li>
                        </ul><!-- end #topnav -->
                    </div><!-- #topnavigation -->
                </div>
		<div id="breadcrumb"></div><!-- #breadcrumb -->
                <!-- #header -->
                <div id="main">
                    <div id="content">
			{$HEADER$}
                        {$CONTENT$}
                    </div><!-- #content -->
                    <div id="sideright">
                        <ul>
                            <li class="widget-container">
                                <div class="side-box">
                                    <div class="box-title"><h2>{(ucp.paneltitle)}</h2><span class="cb"></span></div>
                                    <div class="box-text">
                                        <h4><i>{(ucp.welcomemessage)}, <b>{$LOGIN$}</b></i></h4>
                                        {$UCPMENU$}
                                    </div>
                                </div>
                            </li>
                            <li class="widget-container">
                                <div class="side-box">
                                    <div class="box-title"><h2>{(serverinfo.title)}</h2><span class="cb"></span></div>
                                    <div class="box-text">
                                        <ul class="latestpost">
                                            <li></li>
                                            <li><b>{(serverinfo.status)}:</b> {$SERVERSTATUS$} 	</li>
                                            <li>
                                                <b>{(serverinfo.players)}:</b> {$PLAYERS$}				</li>
                                            <li>
                                                <b>{(serverinfo.ucpversion)}:</b> {$UCPVERSION$}	</li>
                                            <li>
                                                <b>{(serverinfo.modversion)}:</b> {$MODVERSION$} </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
			    {$WIGETS$}
                        </ul>
                    </div><!-- #sideright -->
                    <div class="clear"></div>
                </div>
                <!-- #main -->
                <div id="footer">
                    <div id="footer-logo"><a href="{$ADMINURL$}"><img src="images/logo-footer.png" alt="" /></a></div>
                    <div id="footer-text">{(site.footer)} &copy; {%YEAR%}    {$DEBUG$}</div>
                </div><!-- #footer -->
            </div><!-- #container -->
        </div><!-- #wrapper -->
    </body>
</html>