					<div class="box-type2">
						<div class="main-box">
							<div class="box-title-post"><h2>{$TITLE$}</h2><span class="cb"></span></div>
							<div class="box-text">
								<div class="metadata">
									{$DATE$}&nbsp;&nbsp;|&nbsp;&nbsp;{$AUTHOR$}
								</div>
								<div class="entry">
									{$CONTENT$}<br class="clear" /> <br class="clear" />
									<a href="{$FORUMLINK$}" class="more-link">{(index.discuss)}</a>
								</div>						
							</div><!-- .boxt-text -->
						</div><!-- .main-box -->
					</div><!-- .box-type2 -->