<div id="header">
    <div id="slider">
	<img src="images/1.png" alt="" title="#htmlcaption" />
	<img src="images/2.png" alt="" title="#htmlcaption2" />
	<!--img src="images/slide3.jpg" alt="" title="#htmlcaption3" />
	<img src="images/slide4.jpg" alt="" title="#htmlcaption4" /-->
    </div>
    <!--div id="htmlcaption" class="nivo-html-caption">
	{(index.header.imageslider.text.1)}
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
	{(index.header.imageslider.text.2)}
    </div-->
    <div id="htmlcaption1" class="nivo-html-caption">
	{(index.header.imageslider.text.3)} <b><a href="http://forum.century-rp.ru/">{(index.forum)}</a></b>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
	<b><a href="samp://46.28.68.167:7777">Century TDM</a></b><br />{(index.header.imageslider.text.4)}
    </div>
</div>