<tr>
    <td width="150">
	<div id="ucpPhoto">
	    <img src="images/fullskins/{$SKIN$}.png" />
	</div>
    </td>
    <td>
	<p><b>{(ucp.characters.name)}:</b> {$NAME$}</p>
	<p><b>{(ucp.characters.sex)}:</b> {$SEX$}</p>
	<p><b>{(ucp.characters.age)}:</b> {$AGE$}</p>
	<p><b>{(ucp.characters.status)}:</b> {$ACTIVE$}</p>
    </td>
</tr>