<form action="{%crpPage_SiteLogin%}" method="post">
    <label>{(register.stage1.login)}</label><br />
    <input style="width: 200px;" size="28" type="text" name="login" value="" class="text-input" />
    <br style="clear:both" />
    <label>{(register.stage1.password)}</label><br />
    <input style="width: 200px;" size="28" type="password" name="password" value="" class="text-input" /><br />
    <input style="width: 105px;" class="submit" type="submit" name="submit" value="{(button.submit)}" /> 
    <a href="{%crpPage_SiteRegister%}"><input style="width: 105px;" class="submit" type="button" value="{(register.title)}" /></a>
</form>
