<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{(ucp.characters.add)}</h2><span class="cb"></span></div>
	<div class="box-text">
	    <form action="{$FORMLINK$}" method="post">

		<div style="float: right;">
		    <img id="imagesrc" width="200" src="images/fullskins/1.png"/><br/>
		    <p>{(ucp.characters.skinnumber)}<br />
			<input class="skinchange" type="button" value="<" onclick="prevSkin()" />
			<input class="skininput" id="imageid" type="text" name="skin" value="1" onchange="Change()" />
			<input class="skinchange" type="button" value=">" onclick="nextSkin()" /></p>
		</div>

		<p><span>{(ucp.characters.firstname)}</span><br /><input required class="contact" type="text" name="firstname" value="" /></p>
		<p><span>{(ucp.characters.lastname)}</span><br /><input required class="contact" type="text" name="lastname" value="" /></p>
		<p><span>{(ucp.characters.age)}</span><br /><input required class="contact" type="text" name="age" value="" /></p>
		<p><span>{(ucp.characters.password)}</span><br /><input required class="contact" type="password" name="password" value="" /></p>
		<p><span>{(ucp.characters.repassword)}</span><br /><input required class="contact" type="password" name="repassword" value="" /></p>
		<p><span>{(ucp.characters.sex)}</span><br />
		    <select id="sex" name="sex" size="1" onchange="onSexChange()">
			<option selected value="1">{(ucp.characters.sex.m)}</option>
			<option value="2">{(ucp.characters.sex.w)}</option>
		    </select>
		</p>
		{$QUESTIONS$}
		<input class="submit" type="submit" name="submit" value="{(button.submit)}" />
	    </form>
	</div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->
