					<div class="box-type1">
						<div class="main-box">
							<div class="box-title"><h2>{(welcome.title)}</h2><span class="cb"></span></div>
							<div class="box-text">
								<p>{(welcome.text)}</p>
							</div><!-- .boxt-text -->
						</div><!-- .main-box -->
					</div><!-- .box-type1 -->
					{$NEWS$}
					{$PAGENAV$}