<div class="box-type2">
    <div class="main-box">
        <div class="box-title-post"><h2>{$TITLE$}</h2><span class="cb"></span></div>
        <div class="box-text">
            <p>{$TEXT$}</p>
            <div align="center"><input class="submit" type="button" value="{(button.return)}" onclick="goBack()" /></div>
        </div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->