<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{$TITLE$}</h2><span class="cb"></span></div>
	<div class="box-text">
	    <p>{$TEXT$}</p>
	    <div align="center"><a href="{$LINK$}"><input class="submit" type="button" value="{(button.submit)}"/></a></div>
	</div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->