<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{(site.administration.title)}</h2><span class="cb"></span></div>
	<div id="author" class="box-type1">
	    <div class="main-box">
		<div class="box-text">
		    <h3></h3>
		    <p>{(site.administration.desc)}</p>
		</div>
	    </div>
	</div>
	<div class="box-text">
	    <div align="right" style="color: #ffa500;"><H1>{(site.administration.management)}</H1></div>
	    <ul>
		<li><a href="http://forum.century-rp.ru/index.php?/user/1-the-creator/"><b>The Creator</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #ff0000;"><H2>{(site.administration.lead)}</H2></div>
	    <ul>
		<li><a href="http://forum.century-rp.ru/index.php?/user/2-dia/"><b>Di.A.</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #000080;"><H2>{(site.administration.developers)}</H2></div>
	    <ul>
		<li><a href="http://forum.century-rp.ru/index.php?/user/33-yolarn/"><b>Yolarn</b></a></li>
		<li><a href="http://forum.century-rp.ru/index.php?/user/33-yolarn/"><b>Inlife</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #00ff00;"><H3>{(site.administration.adm4)}</H2></div>
	    <ul>
		<li><a href="#"><b>-</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #00ff00;"><H3>{(site.administration.adm3)}</H2></div>
	    <ul>
		<li><a href="#"><b>-</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #00ff00;"><H3>{(site.administration.adm2)}</H2></div>
	    <ul>
		<li><a href="http://forum.century-rp.ru/index.php?/user/53-trife/"><b>Trife</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #00ff00;"><H3>{(site.administration.adm1)}</H2></div>
	    <ul>
		<li><a href="#"><b>-</b></a></li>
	    </ul>
	    <hr>
	    <div align="right" style="color: #a52a2a;"><H4>{(site.administration.testers)}</H2></div>
	    <ul>
		<li><a href="http://forum.century-rp.ru/index.php?/user/4-g-%D0%B3%D1%83%D1%80%D0%B4%D0%B0/"><b>G-гурда</b></a></li>
	    </ul>
	</div>
    </div>
</div>