<div class="box-type2">
    <div class="main-box">
        <div class="box-title-post"><h2>{(register.stage2.title)}</h2><span class="cb"></span></div>
        <div class="box-text">
            <p>{(register.stage2.text)}</p>
            <form action="{$FORMURL$}" method="post">
                <p><span>{(register.stage1.login)}</span><br /><input required type="text" name="login" value="" /></p>
                <p><span>{(register.stage1.password)}</span><br /><input required type="password" name="password" value="" /></p>
                <p><span>{(register.stage1.repassword)}</span><br /><input required type="password" name="repassword" value="" /></p>
                <p><span>{(register.stage1.email)}</span><br /><input required type="text" name="email" value="" /></p>
                {$WIGET$}
		<input class="submit" type="submit" name="submit" value="{(button.submit)}" />
            </form>
        </div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->