<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{$TITLE$}</h2><span class="cb"></span></div>
	<div class="box-text">
	    <a href="{$LINKCHARACTERS$}"><span class="left"><img width="570" src="images/ucp.characters.png" /></span></a>
	    <a href="{$LINKSTATISTICS$}"><span class="left"><img width="570" src="images/ucp.stats.png" /></span></a>
	    <a href="{$LINKOPTIONS$}"><span class="left"><img width="570" src="images/ucp.options.png" /></span></a>
	    <a href="{$LINKADDITIONALS$}"><span class="left"><img width="570" src="images/ucp.additionals.png" /></span></a>
	</div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->