<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{(ucp.characters)}</h2><span class="cb"></span></div>
	<div class="box-text">
	    <table style="width:100%; border-spacing:0;">
		<tr><th>{(ucp.characters.photo)}</th><th>{(ucp.characters.description)}</th></tr>
		{$UCPCHARLIST$}
	    </table>
	    {$UCPADDCHARLINK$}
	</div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->
