<div class="box-type2">
    <div class="main-box">
        <div class="box-title-post"><h2>{(register.stage1.title)}</h2><span class="cb"></span></div>
        <div class="box-text">
            <form action="{$FORMLINK$}" method="post">
                <p>{(register.stage1.text)}</p>
                {$QUESTIONS$}
                <input class="submit" type="submit" name="submit" value="{(button.submit)}" />
            </form>
        </div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->