<div class="box-type2">
    <div class="main-box">
	<div class="box-title-post"><h2>{(site.help)}</h2><span class="cb"></span></div>
	<div class="box-text">
		<hr>
	    <ul>
			<blockquote><p>{(help.question.title1)}</p>
			</blockquote >
			<li>{(help.answer.title1)}</li>
			<hr>
			<blockquote><p>{(help.question.title2)}</p>
			</blockquote >
			<li>{(help.answer.title2)}</li>
			<hr>
			<blockquote><p>{(help.question.title3)}</p>
			</blockquote >
			<li>{(help.answer.title3)}</li>
			<hr>
			<blockquote><p>{(help.question.title4)}</p>
			</blockquote >
			<li>{(help.answer.title4)}</li>
			<hr>
			<blockquote><p>{(help.question.title5)}</p>
			</blockquote >
			<li>{(help.answer.title5)}</li>
		</ul>
		<hr>
	</div><!-- .boxt-text -->
    </div><!-- .main-box -->
</div><!-- .box-type2 -->