<!doctype html>
<html lang="en">

    <head>
	<meta charset="utf-8"/>
	<title>{$TITLE$}</title>

	<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" />
	<link type="text/css" href="css/flick/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.equalHeight.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() 
	    { 
		$(".tablesorter").tablesorter(); 
	    } 
	);
	    $(document).ready(function() {

		//When page loads...
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content

		//On Click Event
		$("ul.tabs li").click(function() {

		    $("ul.tabs li").removeClass("active"); //Remove any "active" class
		    $(this).addClass("active"); //Add "active" class to selected tab
		    $(".tab_content").hide(); //Hide all tab content

		    var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		    $(activeTab).fadeIn(); //Fade in the active ID content
		    return false;
		});

	    });
	</script>
	<script type="text/javascript">
	    $(function(){
		$('.column').equalHeight();
	    });
	</script>
	{$SCRIPTS$}
    </head>


    <body>

	<header id="header">
	    <hgroup>
		<h1 class="site_title"><a href="{%crpPage_AdminIndex%}">{(admin.title)}</a></h1>
		<h2 class="section_title">{(admin.page)}</h2><div class="btn_view_site"><a target"_blank" href="{%crpPage_SiteIndex%}">{(admin.site)}</a></div>
	    </hgroup>
	</header> <!-- end of header bar -->

	<section id="secondary_bar">
	    <div class="user">
		<p style="margin-left: 20px;">{$LOGIN$}</p>
	    </div>
	</section><!-- end of secondary bar -->

	<aside id="sidebar" class="column">
	    <h3>{(admin.content)}</h3>
	    <ul class="toggle">
		<li class="icn_categories"><a href="{$LINKARTICLEALL$}">{(admin.articles)}</a></li>
		<li class="icn_new_article"><a href="{$LINKARTICLEADD$}">{(admin.addarticle)}</a></li>
		<li class="icn_edit_article"><a href="{$LINKARTICLEEDIT$}">{(admin.editarticle)}</a></li>
	    </ul>
	    <h3>{(admin.users)}</h3>
	    <ul class="toggle">
		<li class="icn_view_users"><a href="{$LINKUSERSALL$}">{(admin.users.list)}</a></li>
		<li class="icn_add_user"><a href="{$LINKUSERADD$}">{(admin.adduser)}</a></li>
		<li class="icn_edit_article"><a href="{$LINKUSEREDIT$}">{(admin.edituser)}</a></li>
	    </ul>
	    <h3>{(admin.characters)}</h3>
	    <ul class="toggle">
		<li class="icn_view_users"><a href="{$LINKCHARALL$}">{(admin.characters.list)}</a></li>
		<li class="icn_add_user"><a href="{$LINKCHARADD$}">{(admin.addcharacter)}</a></li>
		<li class="icn_edit_article"><a href="{$LINKCHAREDIT$}">{(admin.editcharacter)}</a></li>
		<li class="icn_view_users"><a href="{$LINKCHARACTIVE$}">{(admin.character.activation)}</a></li>
	    </ul>

	    <footer>
		<hr />
		<p><strong>Copyright &copy; {%YEAR%} Century RolePlay      {$DEBUG$}</strong></p>
	    </footer>
	</aside><!-- end of sidebar -->

	<section id="main" class="column">
	    {$MESSAGE$}
	    {$CONTENT$}
	       <div class="clear"></div>
	</section>


    </body>

</html>