<tr> 
    <td>{$TITLE$}</td> 
    <td>{$AUTHOR$}</td> 
    <td>{$DATE$}</td> 
    <td>
	<a href="{$EDITURL$}"><input type="image" src="images/icn_edit.png" title="{(button.edit)}"></a>
	<a href="{$DELETEURL$}"><input type="image" src="images/icn_trash.png" title="{(button.delete)}"></a>
    </td> 
</tr> 