<tr> 
    <td align="center">{$NAME$}</td> 
    <td align="center">{$ACCOUNT$}</td> 
    <td align="center">{$ACTIVATED$}</td> 
    <td align="center">{$DATE$}</td> 
    <td align="center">
	<a href="{$ACTIVATEURL$}"><input type="image" src="images/icn_alert_success.png" title="{(button.details)}"></a>
    </td> 
</tr> 