<article class="module width_full">
    <header><h3>{(admin.statistics)}</h3></header>
    <div class="module_content">
	<article class="stats_graph">
	    <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="520" height="140" alt="" />
	</article>

	<article class="stats_overview">
	    <div class="overview_today">
		<p class="overview_day">Today</p>
		<p class="overview_count">0</p>
		<p class="overview_type">Hits</p>
		<p class="overview_count">0</p>
		<p class="overview_type">Views</p>
	    </div>
	    <div class="overview_previous">
		<p class="overview_day">Yesterday</p>
		<p class="overview_count">0</p>
		<p class="overview_type">Hits</p>
		<p class="overview_count">0</p>
		<p class="overview_type">Views</p>
	    </div>
	</article>
	<div class="clear"></div>
    </div>
</article><!-- end of stats article -->