<article class="module width_full">
    <form method="post" action="{$FORMLINK$}">
	<header><h3>{(admin.addarticle)}</h3></header>
	<div class="module_content">
	    <fieldset>
		<label>{(article.title)}</label>
		<input name="title" type="text" value="{$TITLE$}">
		<input name="id" type="hidden" value="{$ID$}">
		<input name="author" type="hidden" value="{$AUTHOR$}">
	    </fieldset>
	    <fieldset>
		<label>{(arcticle.forumurl)}</label>
		<input name="forum" type="text" value="{$FORUM$}">
	    </fieldset>
	    <fieldset>
		<label>{(article.content)}</label>
		<textarea name="content" rows="15">{$CONTENT$}</textarea>
	    </fieldset>
	    <div class="clear"></div>
	</div>
	<footer>
	    <div class="submit_link">
		<input type="submit" name="submit" value="{(button.submit)}" class="alt_btn">
	    </div>
	</footer>
    </form>
</article><!-- end of post new article -->