<article class="module width_full">
    <header><h3>{(admin.character.activation)}</h3></header>
    <div class="module_content">
	<fieldset>

	    <table style="width:100%; border-spacing:0;">
		<tr><th>{(ucp.characters.photo)}</th><th>{(ucp.characters.description)}</th></tr>
		<tr>
		    <td width="200">
			<div id="ucpPhoto">
			    <img src="images/fullskins/{$SKIN$}.png" />
			</div>
		    </td>
		    <td>
			<p><b>{(ucp.characters.name)}:</b> {$NAME$}</p>
			<p><b>{(admin.character.user)}:</b> {$ACCOUNT$}</p>
			<p><b>{(ucp.characters.sex)}:</b> {$SEX$}</p>
			<p><b>{(ucp.characters.age)}:</b> {$AGE$}</p>
			<p><b>{(ucp.characters.active)}:</b> {$ACTIVE$}</p>
			<p><b>{(ucp.characters.question.0)}:</b> {$ANSWER0$}</p>
			<p><b>{(ucp.characters.question.1)}:</b> {$ANSWER1$}</p>
			<p><b>{(ucp.characters.question.2)}:</b> {$ANSWER2$}</p>
			<p><b>{(ucp.characters.question.3)}:</b> {$ANSWER3$}</p>
		    </td>
		</tr>
	    </table>
	</fieldset>
    </div>
    <footer>
	<div class="submit_link">
	    <a href="{$LINKACTIVATE$}"><input type="submit" value="{(button.activate)}" class="alt_btn"></a>
	    <input type="submit" id="dialog_link" value="{(button.decline)}" class="alt_btn">
	</div>
    </footer>
</article><!-- end of post new article -->
<div id="dialog" title="{(admin.character.disprove.title)}">
    <form id="delete_form" method="post" action="{$CHARDELETEFORM$}">
	<p>{(admin.character.disprove.text)}<br>
	<input required type="text" name="message"></p>
    </form>
</div>