<article class="module width_3_quarter">
    <header>
	<h3 class="tabs_involved">{(admin.articles)}</h3>
    </header>
    <div  class="tab_container">
	<div class="tabelesortertbody">
	    <table class="tablesorter" cellspacing="0"> 
		<thead> 
		    <tr> 
			<th>{(article.title)}</th> 
			<th>{(article.author)}</th> 
			<th>{(article.date)}</th> 
			<th>{(article.actions)}</th> 
		    </tr> 
		</thead> 
		<tbody> 
		    {$ARTICLES$}
		</tbody>
	    </table>
	</div><!-- end of #tab1 -->
    </div><!-- end of .tab_container -->
</article><!-- end of content manager article -->

<article class="module width_quarter">
    <header><h3>{(admin.logs)}</h3></header>
    <div class="message_list">
	<div class="module_content">
	    <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
		<p><strong>John Doe</strong></p></div>
	</div>
</article><!-- end of messages article -->