<article class="module width_full">
    <form method="post" action="{$FORMLINK$}">
	<header><h3>{(admin.addcharacter)}</h3></header>
	<div class="module_content">
	    <fieldset>
		<label>{(ucp.characters.name)}</label>
		<input name="name" type="text" value="{$NAME$}">
		<input name="id" type="hidden" value="{$ID$}">
	    </fieldset>
	    <fieldset>
		<label>{(admin.character.user)}</label>
		<input name="account" type="text" value="{$ACCOUNT$}">
	    </fieldset>
	    <fieldset>
		<label>{(ucp.characters.skinnumber)}</label>
		<input name="skin" type="text" value="{$SKIN$}">
	    </fieldset>
	    <fieldset>
		<label>{(ucp.characters.active)}</label>
		<select name="activated">
		    <option {$ACTIVATED1$} value="1">{(ucp.characters.active.true)}</option>
		    <option {$ACTIVATED0$} value="0">{(ucp.characters.active.false)}</option>
		    <option {$ACTIVATED2$} value="2">{(ucp.characters.active.declined)}</option>
		</select>
	    </fieldset>
	    <fieldset>
		<label>{(ucp.characters.sex)}</label>
		<select name="sex" size="1">
		    <option {$SEX1$} value="1">{(ucp.characters.sex.m)}</option>
		    <option {$SEX2$} value="2">{(ucp.characters.sex.w)}</option>
		</select>
	    </fieldset>
	    <fieldset>
		<label>{(ucp.characters.question.0)}</label>
		<textarea name="answer0" rows="4">{$ANSWER0$}</textarea>
		<label>{(ucp.characters.question.1)}</label>
		<textarea name="answer1" rows="4">{$ANSWER1$}</textarea>
		<label>{(ucp.characters.question.2)}</label>
		<textarea name="answer2" rows="4">{$ANSWER2$}</textarea>
		<label>{(ucp.characters.question.3)}</label>
		<textarea name="answer3" rows="4">{$ANSWER3$}</textarea>
	    </fieldset>
	    <div class="clear"></div>
	</div>
	<footer>
	    <div class="submit_link">
		<input type="submit" name="submit" value="{(button.submit)}" class="alt_btn">
	    </div>
	</footer>
    </form>
</article><!-- end of post new article -->