/* 

Impresa - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/
.nomargin{margin-right:0px !important;}
.pagenavi{clear:both; padding:0px 0px 0px 0px;}
.pagenavi a, .pagenavi a:visited{
	color:#ffffff;
	background-color:#0695d0;
	padding:2px 8px;
	margin-right:5px;
	text-shadow: 0.1em 0.1em 0.05em #045d81;
}
.pagenavi a:hover{text-decoration:none;background-color:#303030;}
.pagenavi a.current{
	background-color:#303030;
	color:#fff;
	}
.sidebox blockquote{background-image:url(../images/quote-small.png);padding:0px 10px 0px 20px;}
.bluetext{color:#3d73a2;}
.normaltext{color:#999;}

/* ABOUT */
.inline-block{list-style-type:none; margin:0px; padding:0px;}
.inline-block li{list-style-type:none; width:280px; float:left; margin-bottom:20px; position:relative; margin-right:40px;}
.block-text{ margin-left:85px;}
.icon{position:absolute;}
.UpperText{text-transform:uppercase;}



/* PORTFOLIO */
#pf-one-col{padding:0; margin:0; list-style-type:none;}
#pf-one-col li{padding:0 0 20px 0; margin:0 0 25px 0 !important; list-style-type:none; clear:both; float:left; width:570px; border-bottom:solid 1px #e5e5e5;}
#pf-one-col li:last-child{margin-bottom:0; padding-bottom:20px;}

#pf-two-col{padding:0; margin:0; list-style-type:none;}
#pf-two-col li{padding:0; margin:0 20px 10px 0 ; list-style-type:none; width:460px; float:left;}
#pf-two-col li.last{margin-right:0;}
#pf-two-col li:last-child{margin-bottom:0; padding-bottom:0px;}
#pf-two-col li img{margin-bottom:10px;}
#pf-two-col .box-type2 .box-title{position:relative; }
#pf-two-col .box-type2 .box-title h2{color:#fff; background-color:#303030; font-size:20px; margin:0 0 0 -10px; padding:10px 0 10px 30px; width:420px}
#nav-bottom{padding:0 0 30px 10px}

.pf-glow{width:280px; height:150px; float:left; margin-right:15px; background:url(../images/hover-opacity.png) no-repeat center;}
.pf-glow2{width:390px; height:150px; background:url(../images/hover-opacity.png) no-repeat center; margin-bottom:10px}

/* Gallery */

.jcarousel-container {
	position: relative;
	clear:both;
	margin:10px auto 0 auto;
	padding:0;
}
.jcarousel-clip {
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.jcarousel-list {
	z-index: 1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.jcarousel-item {
	float: left;
	list-style: none;
	/* We set the width/height explicitly. No width/height causes infinite loops. */
	width:126px;
	margin-right:19px !important
}/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
	position:absolute;
	top:40px;
	right:5px;
	width: 32px;
	height: 32px;
	cursor: pointer !important;
	background:  transparent url(images/jcarousel_next.png) no-repeat 0 0;
	z-index:200;
	display:none !important;
}
.jcarousel-next-horizontal:hover {
	background-position: -32px 0;
}
.jcarousel-next-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover, .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-prev-horizontal {
	position:absolute;
	top:30px;
	left:5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	z-index:200;
	background: transparent url(images/jcarousel_prev.png) no-repeat 0 0;
	display:none !important;

}
.jcarousel-prev-horizontal:hover {
	background-position: -32px 0;
}
.jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
#feature_gallery {
	width:570px;
	margin:auto;
	display:block;
	padding:0;
	margin-bottom:20px
}
ul#feature_gallery_pager {
	display:block;
	margin:auto;
	overflow:hidden;
	height:100px;
}
#feature_gallery ul.menu li a:hover {
}
ul#feature_gallery_pager li a {
	overflow:hidden;
	width:126px;
	height:100px;
	padding:0px;
	float:left;
	display:block;
}
ul#feature_gallery_pager li {
	margin:0 2px;
	padding:0 0 10px 0;
}
#feature_gallery ul.menu a.activeSlide {
	background:url(images/arrow.png) no-repeat;
}
#feature_gallery .bigimgs {
	overflow:hidden;
	height:500px;
	width:570px;
	position:relative;
	margin:0 auto 20px auto;	 
}
#feature_gallery img.change {
	width:570px;
	position:relative;
	
}
#feature_gallery img.thumb {
	width:126px;
	height:100px;
    margin-right:23px !important

}



/* BLOG */
.metadata{font-size:11px;}
.entry{padding:10px 0 0 0;}
.more-link, .more-link:visited{background-color:#0695d0; padding:5px 10px; color:#fff; margin:10px 0 0 0; font-size:11px; text-shadow: 0.1em 0.1em 0.05em #045d81}
.more-link:hover{color:#fff; background-color:#23a8df; text-decoration:none}
#author .box-text{padding:0px 20px;}
#author .box-text h3{color:#d4d4d4}
#comment{padding:0 10px;}
.title-comment{background-color:#828282; color:#303030; padding:10px 20px; margin-bottom:10px}
.commentlist{list-style-type:none; padding:0; margin:0 0 20px 0;}
.commentlist li{clear:both; position:relative; margin-bottom:10px}
.comment-odd{background-color:#fff; padding:20px; }
.comment-even{background-color:#e0e0e0; border:solid 1px #d6d6d6; padding:20px; }
.commentlist .avatar{position:absolute; top:20px; left:20px;}
.commentlist .comment-text{margin-left:90px;}
.reply{text-decoration:underline;}
.comment-date{float:right;}
.comment-name{display:block; margin-bottom:5px; font-weight:bold}
.commentlist .children{list-style-type:none; margin-left:40px}
.commentlist .children li{list-style-type:none; margin-top:10px;}


/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contact-form{margin:0 auto; position:relative}
#contact-form label{display:block}
label.sp { width:3px;}
span.error{color:red;text-align:left; font-size:11px;}

#message{ margin-left:0px;}
#message h2	{}
#message p{margin:6px 0px; }

#contact-form button.button{ cursor:pointer; background-color:#0695d0; padding:5px 10px; color:#fff; margin:10px 0 0 0; font-size:11px; text-shadow: 0.1em 0.1em 0.05em #045d81; border:0}
#contact-form button.button:hover{color:#fff; background-color:#23a8df; text-decoration:none}