/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.3; /* Overridden by captionOpacity setting */
	z-index:89;
	padding:8px;
	width:97.5%;
}
.nivo-caption p {
	padding:3px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}

/* Control nav styles (e.g. 1,2,3...) */
#slider .nivo-controlNav{
	position:absolute;
	left:48%;
	bottom:-30px;
	text-align:center;
	display:inline-block;
}

#slider .nivo-controlNav a{
	width:8px;
	height:8px;
	background:url(../images/nav-btn.png) no-repeat;
	border:0px;
	margin-right:3px;
	cursor:pointer;
	position:relative;
	font-size:0px;
	display:block;
	float:left;
	margin-top:5px;
	text-indent:0px;
	color:#323945;
	font-size:0 !important;
	text-indent:-9999px;
}

#slider .nivo-controlNav a.active{
	background:url(../images/nav-btn-active.png) no-repeat;
	color:#fff;
}
#slider a {
	display:block; /* IE Fix */
}

