/* 

Impresa - CSS File

*/


/*** GLOBAL  ***/
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	color:#828282;
	line-height:18px;
	background-image:url(../images/bg-body.gif);
	
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#ececec;
	background-color:#ececec;
	background-repeat:repeat-x;
}
input, textarea
{
	border:solid 1px #c0c0c0;
	margin:4px 4px 8px 0px; 
  width: 250px; 
	padding:5px; 
	color:#999999; 
	vertical-align:middle; 
	font-size:11px;}

.submit, .submit:visited{
	position: relative;
	background-color:#0695d0; 
	padding:5px 10px; 
	color:#fff; 
	margin:10px 0 0 0; 
	font-size:11px; 
	text-shadow: 0.1em 0.1em 0.05em #045d81}
.submit:hover{
	color:#fff; 
	background-color:#23a8df; 
	text-decoration:none}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:12px; font-family:Arial, Verdana;}
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana;}
h1 {font-size:24px; line-height:26px;}
h2 {font-size:20px; line-height:22px;}
h3 {font-size:18px; line-height:20px;}
h4 {font-size:16px; line-height:18px;}
h5, h6 {font-size:15px; line-height:17px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#505050;}
/* links */
a, a:visited {color:#0695d0; text-decoration:none; font-weight:normal; }
a:hover{color:#5287b5; text-decoration:underline;}
a img{border:none}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {}


/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:12px;
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
	list-style-position:inside
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	/*font-style:italic;*/
	margin:0px 0 20px 0px;
	color:#9a9a9a;
	padding:0px 10px 0px 60px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both
	}
	
	
blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #e0e0e0;
	padding:15px 10px;
}


/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper{background-image:url(../images/bg-top.png); background-repeat:repeat-x;}
#container{ width:940px; margin:0 auto;}


/* TOP */
#top{position:relative; height:65px; z-index:200}
#logo{width:262px; float:left; position:relative; padding-left:6px;}
#logo-img{top:0; z-index:200; position:absolute}


#topnavigation{width:672px; height:65px; float:right; position:relative; z-index:100}
#topnavigation ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	line-height:1.5em; 
}
#topnavigation ul#topnav{padding:10px 0px 0px 0px; float:right; position:relative;}
#topnav a{
	display:block;
	padding:3px 20px;
	color:#ffffff;
	text-decoration:none;
}


#topnavigation a:hover{
	color:#f4f4f4;
	background-color:#0695d0
}
#topnavigation li.current{background-image:url(../images/curve.gif); background-repeat:no-repeat; background-position:0px 8px}
#topnavigation li:hover{background-image:url(../images/curve.gif); background-repeat:no-repeat; background-position:0px 8px}
#topnavigation li.current a{
	color:#f4f4f4;
	background-color:#0695d0
}

#topnavigation li a:hover {
	background-color:#0695d0
}
#topnavigation li:hover a, 
#topnavigation li.sfHover a {
	background-color:#0695d0
}
#topnavigation li:hover ul a:hover, 
#topnavigation li.sfHover ul a:hover {
	background-color:#0695d0
}



#topnavigation li{
	float:left;
	position:relative;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	padding-top:2px;
	font-size:15px;
	z-index:100 !important;
	line-height:47px;
}
#topnavigation li#home{}

*+html #topnavigation li img{ margin:15px 0 15px 0;}

#topnavigation li li{
	padding-right:0px;
	text-transform:capitalize;
	padding:0px 0px;
	background-image:none;
	border-bottom:solid 1px #454545;
	font-size:12px;
	z-index:100 !important;
	line-height:20px;
}
#topnavigation ul ul {
	position:absolute;
	display:none;
	width:140px;
	top:58px;
	left:5px;
	background-color:#252525;
	z-index:100 !important
}
#topnavigation li ul a{
	width:100px;
	height:auto;
	margin:0 15px;
	background-repeat:repeat-x;
	padding:6px 5px;
	line-height:20px;
}

#topnavigation li ul a:hover, #topnavigation li ul a{background:none !important;}


#topnavigation li ul a:hover{color:#5287b5}

#topnavigation ul ul ul{
	top:0px;
}	

#topnavigation li ul ul ul{
	left:12em;
	margin:0px 0 0 0px;
}

#topnavigation li:hover ul ul, #topnavigation li:hover ul ul ul, #topnavigation li:hover ul ul ul ul{
	display:none;
}
#topnavigation li:hover ul, #topnavigation li li:hover ul, #topnavigation li li li:hover ul, #topnavigation li li li li:hover ul{
	display:block;
}

#topnavigation .cm{background-image:url(../images/curve.gif); width:5px; height:5px; position:absolute; left:10px; bottom:4px}

/* Slideshow */
#header{height:200px; position:relative;}
#breadcrumb{height:30px; position:relative; clear:both;}
#navlink{position:absolute; left:285px; font-size:11px; line-height:50px}
#navlink a, #navlink a:visited{color:#828282;}

/* CONTENT */
#main{padding:20px 0 0 0; width:940px; position:relative; z-index:20}
#content{width:640px; float:left;}
#content.fullwidth{width:100%; float:none;}

/* Box style */
.box-type1{padding:0 0 0 10px; margin-bottom:20px; color:#ccc}
.box-type1 h1, .box-type1 h2, .box-type1 h3, .box-type1 h4, .box-type1 h5, .box-type1 h6{color:#ccc}
.box-type1 .main-box{background-color:#303030; padding:10px 0;}
.box-type1 .box-title{position:relative; }
.box-type1 .box-title h2{color:#fff; background-color:#0695d0; font-size:20px; padding:10px 0 10px 30px; margin:0px 0 0 -10px; width:300px}
.box-type1 .cb{background-image:url(../images/bg-title1.png); background-repeat:no-repeat; width:10px; height:11px; position:absolute; bottom:-10px; left:-10px}

.box-type2{padding:0 0 0 10px; margin-bottom:20px;}
.box-type2 .main-box{background-color:#fff; padding:10px 0; color:#828282}
.box-type2 .box-title, .box-type2 .box-title-post{position:relative; }
.box-type2 .box-title h2{color:#fff; background-color:#303030; font-size:20px; margin:0 0 0 -10px; padding:10px 0 10px 30px; width:300px}
.box-type2 .box-title-post h2{color:#fff; background-color:#303030; font-size:20px; margin:0 0 0 -10px; padding:10px 0 10px 30px; width:570px}
.box-type2 .cb{background-image:url(../images/bg-title2.png); background-repeat:no-repeat; width:10px; height:11px; position:absolute; bottom:-10px; left:-10px}
.box-text{padding:20px 30px; clear:both; position:relative}

.colortext{font-weight:bold; color:#0695d0; font-style:italic}

/* List style */
.blocklist{padding:0; margin:0; list-style-type:none;}
.blocklist li{padding:0 0 10px 0; margin:0; list-style-type:none; clear:both;}
*+html .blocklist li{width:565px;}
.blocklist li:last-child{padding-bottom:0px;}

.cycle{padding:0; margin:0; list-style-type:none;}
.cycle li{padding:0 ; margin:0; list-style-type:none;}

.inline-block{ padding:0; margin:0; list-style-type:none;}
.inline-block li{ background-image:url(../images/list.png); background-repeat:no-repeat; background-position: 0 8px; padding-left:20px; margin:0 0 10px 0 !important}

.inline{padding:0; margin:0; list-style-type:none;}
.inline li{display:inline; padding:0 0px}

/* Testimonial */
#pager{position:absolute; right:30px; top:-25px;}
#pager a{background-image:url(../images/nav-btn.png); background-repeat:no-repeat; width:8px; height:8px; margin:0 2px; font-size:0; display:block; float:left; text-indent:-9999px}
#pager a.activeSlide{background-image:url(../images/nav-btn-active.png); background-repeat:no-repeat; }


/* SIDEBAR */

#sideright{padding:0px 0px 0px 10px; width:290px; float:left}
#sideright ul{margin:0; padding:0; list-style-type:none;}
#sideright ul li.widget-container{padding:0 0 0 10px; margin-bottom:20px;}
#sideright ul li li{padding:8px 0 8px 10px; margin-bottom:2px;  list-style-position:outside; color:#828282}
#sideright ul li li a, #sideright ul li li a:visited{color:#828282; background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0 4px; padding-left:20px;}
#sideright ul li li a:hover{text-decoration:none;}
#sideright ul li li:hover{background-color:#e5e5e5; text-decoration:none}
#sideright ul li li.currentitem{background-color:#e5e5e5; text-decoration:none}

#sideright .latestpost li{padding:0 0 13px 0 !important; margin:0 10px 13px 10px !important; border-bottom:dotted 1px #b8b8b8}
#sideright .latestpost li a{background:none !important; padding:0 !important; display:inherit}
#sideright .latestpost li:hover{background:none !important;}
#sideright .more-link{padding:10px 0 0 10px; text-decoration:underline; background:none; color:#0695d0;}

.side-box{background-color:#fff; padding:10px 0 20px 0; color:#828282}
.side-box .box-title{position:relative; }
.side-box .box-title h2{color:#fff; background-color:#303030; font-size:20px; margin:0 0 0 -10px; *margin:0 0 0 -26px; padding:10px 0 10px 30px; width:170px}
.side-box .cb{background-image:url(../images/bg-title2.png); background-repeat:no-repeat; width:10px; height:11px; position:absolute; bottom:-10px; left:-10px}
.side-box .box-text{padding:10px 20px;  position:relative}

.side-box2{background-color:#303030; padding:10px 0 20px 0;}
.side-box2 .box-title{position:relative; }
.side-box2 .box-title h2{color:#fff;  font-size:20px; margin:0 0 0 -10px; *margin:0 0 0 -26px; padding:10px 0 10px 30px; width:170px}
.side-box2 .box-text{padding:10px 20px;  position:relative}

.side-box3{background-color:#828282; padding:10px 0 20px 0; color:#fff}
.side-box3.box-title{position:relative; }
.side-box3 .box-title h2{color:#ffffff;  font-size:20px; margin:0 0 0 -10px; *margin:0 0 0 -26px; padding:10px 0 10px 30px; width:170px}
.side-box3 .box-text{padding:10px 10px;  position:relative}
.side-box3 ul li a, .side-box3 ul li a:visited{color:#fff !important;}
.side-box3  ul li.currentitem, .side-box3  ul li:hover{background-color:#303030 !important;}

/* search form */
#searchform div{
	padding:0px 50px 0px 10px;
	border:solid 1px #eaeaea;
	width:165px; background-image:url(../images/icon-search.gif); background-repeat:no-repeat; background-color:#fff; background-position:right; text-align:right}

#searchform .inputbox{width:175px; border:0px; padding:0px 0px 0px 0px; text-align:right }


/* ads */
ul.ads{padding:0 !important; margin:0 !important; list-style-type:none; list-style-position:outside;}
ul.ads li{display:inline; padding:0 !important; margin:0 !important; background:none !important}
ul.ads li a{padding:0 1px !important; margin:0 !important; background:none !important}
ul.ads li:hover{background:none !important;}

/* FOOTER */
#footer{ background-image:url(../images/bg-footer.gif); background-repeat:repeat-x; height:80px; clear:both}
#footer-text{font-size:12px;  padding:30px 0 0 30px;}
#footer-logo{ float:right; padding:0px 30px 0 0px;}

/* column list */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column h1, .three_column h1, .four_column h1, .three_four_column h1{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column h2, .three_column h2, .four_column h2, .three_four_column h2{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}



/* column */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.one_fourth{width:22%; }
.three_fourth{width:74%;}
.one_half,.one_third,.one_fourth, .three_fourth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }

.one_fourth p{margin-bottom:10px;}




/*==== Dropcaps ====*/
.letercap{
	color:#333333;
	display:block;
	float:left;
	font-size:35px;
	line-height:35px;
	margin:0 8px 0 0;}
.bk-right{ float:right; width:30%; margin-left:20px;}
.bk-left{ float:left; width:30%;}

/*==== Highlight ====*/
.highlight1{padding:1px 4px;background-color:yellow;color:#111;}	
.highlight2{padding:1px 4px;background-color:#111;color:#eee;}	


/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;color:#666;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
th,tr:hover{background-color:#ececec;}
table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}

.skinchange, .skininput {
	width: 50px;}
	
#ucpPhoto { position: relative; height: 100px; width: 100px; overflow:hidden; }
#ucpPhoto img { position: relative; right: 10px; top: -20px; bottom: 0; }